<form class="form-horizontal">

    <h4>General</h4>
    <div class="accordion-inner">
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.DeleteAfterPrint.rememberCheckBox"> Remember the value of "Delete after print finishes"
                </label>
            </div>
        </div>
    </div>
</form>

